body {
	margin:0;
	padding:0;
}

h1 {
	margin : 0;
	padding: 0;
	text-align: center;
	font-size: 3em;
	background:#ccc;
	height:200px;
	line-height:200px; /* centrage vertical */
	text-align:center;
}

#toolbox {
	text-align:center;
	width: 200px;
	height: 100%;
	position:fixed;
	right:0;
	top:200px;
	background : #c5c5c5;
}

#trashcan {
	width:200px;
	height:80px;
	lign-height:80px;
	background-color:blue;
	position:fixed;
	bottom:0;
	right:0;
}

#trashcan>img {
	vertical-align:middle;
}